<form method='post' action='/purchase'>
  <ol>
    <li><input type='email' name='email' placeholder='email@domain.com'></li>
    <li><input type='submit' value='Purchase' class='button'></li>
  </ol>
</form>