<div class='row'>
  <div class='eight columns offset by-two center'>
    <h1>Something Went Wrong!</h1>
    <p>We couldn't complete your order, please let us know at generic_support_email@domain.com.</p>
  </div>
</div>