<div class='row'>
  <div class='eight columns offset by-two center'>
    <h1>Your Order Has Been Placed</h1>
    <p>We'll be in touch shortly with an invoice and to get your shipping details. If you need to get in touch with us for whatever reason, please email us at generic_support_email@domain.com.</p>
  </div>
</div>